extends ../base
block main
	- var bTitle = 'АУДИТ-2'
	- var bText  = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.consequat'
	- var bPrice = '10000 руб.'
	include ../__blocks/__price
	- function getRandomInt(min, max) { return Math.floor(Math.random() * (max - min)) + min; }
	section.section.section__audit
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.main__title
						+icon('fa-pencil-square-o icon-blue')
						.title-br
							h2 АУДИТ
							hr
			.row
				.col-md-12.col-sm-12.col-xs-12
					- var n = 2
					ul.categories-audit
						li.categories-audit__item
							a.categories-audit__link(href='audit.html')
								+icon('fa-book icon-gray')
								| Регистрация ИП
						while n <= 6
							- var name = 'Категория - ' + n++
							li.categories-audit__item
								a.categories-audit__link(href='registration-company.html')
									+icon('fa-book icon-gray')
									= name
					- var n = 7
					ul.categories-audit.categories-hidden(hidden)
						while n <= 12
							- var name = 'Категория - ' + n++
							li.categories-audit__item
								a.categories-audit__link(href='audit.html')
									+icon('fa-book icon-gray')
									= name
			.row
				.col-md-12.col-sm-12.col-xs-12
					button.btn.btn-default#show-categories(type='button')
						+icon('fa-plus-square-o icon-gray')
						| Ещё категории
			.row.hidden-xs.mt-4
				.col-md-12.col-sm-12.col-xs-12
					.title-br
						h2
							| КАК БЫСТРО ПРОВЕСТИ РЕСТРУКТУРИЗАЦИЮ
							i.fa.fa-question-circle-o.icon-gray(aria-hidden='true' data-tooltip)
						hr
			.row.hidden-xs
				.col-md-12.col-sm-12.col-xs-12.text-center
					.swiper-container.swiper-restruct
						.swiper-wrapper
							.swiper-slide
								.restuct
									+icon('fa-files-o icon-gray')
									p Предоставление копий документов
									img(src='assets/img/arrow-right.png' alt='')
							.swiper-slide
								.restuct
									+icon('fa-pencil-square-o icon-gray')
									p Подготовка документов
									img(src='assets/img/arrow-right.png' alt='')
							.swiper-slide
								.restuct
									+icon('fa-check-circle-o icon-gray')
									p Заверенные формы у нотариуса
									img(src='assets/img/arrow-right.png' alt='')
							.swiper-slide
								.restuct
									+icon('fa-credit-card icon-gray')
									p Оплата услуг
									img(src='assets/img/arrow-right.png' alt='')
							.swiper-slide
								.restuct
									+icon('fa-files-o icon-gray')
									p Предоставление копий документов
									img(src='assets/img/arrow-right.png' alt='')
							.swiper-slide
								.restuct
									+icon('fa-pencil-square-o icon-gray')
									p Подготовка документов
									img(src='assets/img/arrow-right.png' alt='')
							.swiper-slide
								.restuct
									+icon('fa-check-circle-o icon-gray')
									p Заверенные формы у нотариуса
						.swiper-button-prev.services-with__button.services-with__button-prev
						.swiper-button-next.services-with__button.services-with__button-next
			.row
				.col-md-12.col-sm-12.col-xs-12
					.title-br.title-small
						h2 РЕСТРУКТУРИЗАЦИЯ ФИРМЫ: ОПИСАНИЕ УСЛУГ ПО РЕСТРУКТУРИЗАЦИИ
						hr
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.consequat
			.row
				.col-md-12.col-sm-12.col-xs-12
					.swiper-container.audit
						ul.swiper-wrapper.audit__list(role='tablist')
							- var n = 0
							while n < 7
								- var cl = ''
								- var href = '#tab-' + n
								if ( n == 0 )
									- cl = 'active'
								else
									- cl = ''
								- var name = 'Tab name - ' + n++
								li.swiper-slide.audit__item(role='presentation' class=cl)
									a.audit__link(href=href aria-controls='home' role='tab' data-toggle='tab')= name
						.swiper-button-prev.audit__button.audit__button-prev
						.swiper-button-next.audit__button.audit__button-next
			.row
				.tab-content
					- var n = 0
					while n < 7
						if ( n == 0 )
							- cl = 'in active'
						else
							- cl = ''
						- var id = 'tab-' + n
						- n++
						aside.aside.aside-audit.tab-pane.fade.clearfix(id=id role='tabpanel' class=cl)
							.col-md-6.col-sm-6.col-xs-12
								.aside__left.clearfix
									.row
										.aside__title
											h3
												+icon('fa-newspaper-o icon-gray')
												| Что мы для вас делаем - #{n}
									.row
										ul#aside-accordion.aside-accordion(role='tablist' aria-multiselectable='true')
											- var a = 0
											while a < 10
												- var bn = '-' + getRandomInt(1, 1000)
												- var val  = 'Услуга - ' + a++
												- var liId = 'aside-accordion-' + a + bn
												- var arCr = 'aside-accordion-collapse-' + a + bn
												li.aside-accordion__item(role='tab' id=liId)
													+icon('fa-check-circle-o icon-gray')
													- var href = '#aside-accordion-collapse-' + a + bn
													a.aside-accordion__link(href=href role='button' data-toggle='collapse' data-parent='#aside-accordion' aria-expanded='false' aria-controls=arCr)= val
														+icon('fa-arrow-circle-o-down icon-gray')
													i.fa.fa-question-circle-o.icon-gray(aria-hidden='true' data-tooltip)
													- var pId  = 'aside-accordion-collapse-' + a + bn
													- var arLb = 'aside-accordion-' + a + bn
													p.collapse(id=pId role='tabpanel' aria-labelledby=arLb) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.consequat
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.consequat
										span(data-tooltip-price)
											h5 Стоимость:
											| от 30 000 руб.
										span(data-tooltip-term)
											h5 Срок:
											| 60 - 90 дней
										.dop
											b(data-tooltip-dop)
												span Дополнительные услуги
												i.fa.fa-question-circle-o.icon-gray(aria-hidden='true')
											div
												span(data-tooltip-cl) Клиент получит:
													img(src='assets/img/gerb2.png' alt='')
							.col-md-6.col-sm-6.col-xs-12
								.aside__right.clearfix
									.row
										.col-md-12.col-sm-12.col-xs-12
											.aside__title
												h3
													+icon('fa-newspaper-o icon-gray')
													| Что потребуется от вас - #{n}
									.row
										.col-md-12.col-sm-12.col-xs-12
											p.aside__info(data-tooltip-info)
												span Сведения и документы, которые нам потребуются
												i.fa.fa-question-circle-o.icon-gray(aria-hidden='true')
										.row
											.col-md-3.col-sm-3.col-xs-12.text-center.ml3prc
												+icon('fa-headphones icon-black')
												h5 Позвоните нам
												p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											.col-md-1.col-sm-1.hidden-xs.text-center.pos-r
												img.arrow-next-step(src='assets/img/arrow-right.png' alt='')
											.col-md-3.col-sm-3.col-xs-12.text-center
												+icon('fa-question-circle-o icon-black')
												h5 Задайте вопрос
												p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											.col-md-1.col-sm-1.hidden-xs.text-center.pos-r
												img.arrow-next-step(src='assets/img/arrow-right.png' alt='')
											.col-md-3.col-sm-3.col-xs-12.text-center
												+icon('fa-sticky-note-o icon-black')
												h5 Получите ответ
												p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										.aside__callback
											.row
												.col-md-12.col-sm-12.col-xs-12
													h2 Получи бесплатную консультацию специалиста, который имеет практику именно в вашем вопросе.
											.row
												.col-md-6.col-sm-12.col-xs-12
													span.text-input.form-group
														input.form-control.input.input-icon(type='text' name='name' placeholder='Ваше имя')
														+icon('fa-user icon-gray')
												.col-md-6.col-sm-12.col-xs-12
													span.text-input.form-group
														input.form-control.input.input-icon(type='phone' name='phone' placeholder='+7 (___) ___ - __ - __')
														+icon('fa-mobile icon-gray')
											.row
												.col-md-8.col-sm-12.col-xs-12
													p.text-gerb В соответствии с Федеральным законом РФ от 27.07.2006 г. №152 "О персональных данных" - мы гарантируем полную конфиденциальность.
												.col-md-4.col-sm-12.col-xs-12
													button.btn.btn-primary(type='submit') ОТПРАВИТЬ
			.row.mt-8.data-order
				.col-md-4.col-sm-6.col-xs-12.data-order-last
					ul.tab-list(role='tablist')
						- var t = 0
						while t < 7
							- var cls = ''
							- var href = '#tab-list-' + t
							if ( t == 0 )
								- cls = 'hide'
							else if ( t == 1 )
								- cls = 'active'
							else
								- cls = ''
							- t++
							- var name = 'Tab name - ' + t
							li.tab-list__item(role='presentation' class=cls)
								a.tab-list__link(href=href aria-controls='home' role='tab' data-toggle='tab')
									+icon('fa-child icon-gray')
									= name
				.col-md-8.col-sm-6.col-xs-12.data-order-first
					.tab-content(data-tab-list)
						- var t = 0
						while t < 7
							- var ids = 'tab-list-' + t
							- var cls = ''
							if ( t == 0 )
								- cls = 'in active'
							else
								- cls = ''
							- t++
							.tab-pane.fade(id=ids role='tabpanel' class=cls)
								#accordion.panel-group(role='tablist' aria-multiselectable='true')
									h4 РЕСТРУКТУРИЗАЦИЯ ФИРМЫ: ОПИСАНИЕ УСЛУГ
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									- var a = 0
									while a < 4
										- var b = '-' + getRandomInt(1, 1000)
										- a++
										- var ida  = 'tab-list-accordion-'  + a + b
										- var idh  = 'tab-list-collapse-'   + a + b
										- var hr   = '#tab-list-collapse-'  + a + b
										- var name = 'Tab item - '          + a
										.panel.panel-default
											.panel-heading(id=ida role='tab')
												a(href=hr role='button' data-toggle='collapse' data-parent='#accordion' aria-expanded='false' aria-controls=idh)
													+icon('fa-plus icon-gray')
													span= name
											.panel-collapse.collapse(id=idh role='tabpanel' aria-labelledby=ida)
												.panel-body
													ol
														li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
														li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.consequat
														li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
													div#result-accordion(aria-multiselectable='false' role='tablist')
														- var idr = 'result-accordion-' + getRandomInt(1, 1000)
														- var idc = 'result-collapse-' + getRandomInt(1, 1000)
														- var hdr = '#' + idc
														div(id=idr role='tab')
															a(id=idr href=hdr data-parent='#result-accordion' role='button' data-toggle='collapse' aria-expanded='false' aria-controls=idc)
																| В итоге вы получите одно из решений
																+icon('fa-arrow-circle-o-down icon-blue')
															i(class='fa fa-question-circle-o icon-blue' data-tooltip-dec)
															p.collapse(style="padding-left: 5rem;" id=idc role='tabpanel' aria-labelledby=idr) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
													button.btn.btn-default.btn-print.pull-right.clearfix(type='button')
														+icon('fa-print icon-white')
														| Распечатать
			.row.mt-4
				.col-md-12.col-sm-12.col-xs-12
					.title-br
						h2 С ЭТОЙ УСЛУГОЙ ЧАСТО ЗАКАЗЫВАЮТ
						hr
				.col-md-12.col-sm-12.col-xs-12
					.swiper-container.services-with
						ul.swiper-wrapper.services-with__list.categories(role='tablist')
							li.swiper-slide.services-with__item.categories__item(data-menu-swiper)
								a.services-with__link.categories__link(href='audit-2.html')
									+icon('fa-book icon-blue')
									| Регистрация фирм
									include ../__blocks/__menu-table-body
							- var s = 1
							while s < 5
								- var service = 'Service name - ' + s++
								li.swiper-slide.services-with__item.categories__item(data-menu-swiper)
									a.services-with__link.categories__link(href='audit-2.html')
										+icon('fa-book icon-blue')
										= service
										include ../__blocks/__menu-table-body
						.swiper-button-prev.services-with__button.services-with__button-prev
						.swiper-button-next.services-with__button.services-with__button-next